# Ignore Python cache files
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and outputs
*.log

# Ignore directories
work_dir/
results/

# VSCode and system files (optional)
.vscode/
.DS_Store
